.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: rgb(77, 145, 136);
  border-radius: 10px;
  width: 350px;
  margin: 30px auto;
}

#logo {
  width: 311px;
  height: 117px;
}

ul {
  list-style-type: none;
}

.coins {
  height: 30px;
  font-size: 13px;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  margin: 2px;
  padding: 3px;
}